<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Relatório</title>
    <link rel="stylesheet" href="../../public/css/style.css">
</head>
<body class="pdf-body">
    <h1>Relatório de fluxo de caixa anual</h1>
    <ul>
        <li>Lucro anual: R$ profit_year</li>
        <li>Média de lucro mensal: R$ profit_mean</li>
        <li>
            Mês de maior lucro: max_month
            ( R$ max_value)
        </li>
        <li>Meses de prejuízo: loss</li>
        <li>Porcentagem de lucro: profit_percent%</li>
    </ul>
</body>
</html>